{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {% static 'tweezer_app/css/style.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div class="head_block">
    <div class="logo_img">
        <a href="/tweezer/main_page"><img class="logo" src="{% static 'tweezer_app/img/logo.png' %}"></a>
    </div>
    <div class="logo_text_head">
        <a href="/tweezer/main_page">weezer</a>
    </div>
    <div class="user_head">
        {% if request.session.auth %}
        Здравствуйте <a class="user_name" href="/tweezer/me">{{ user.user }}</a>
        {% else %}
        <a href="/tweezer">Авторизуйтесь</a>
        {% endif %}
    </div>
</div>
<div class="mid_block">
    <div class="mid__row">
        <div class="mid__block nav">
            <div class="nav_block">
                <div>
                    <a href="/tweezer/main_page">Главная</a>
                </div>
                {% if request.session.auth %}
                <div>
                    <a href="/tweezer/me">Моя страница</a>
                </div>
                <div>
                    <a href="/tweezer/my_feed">Моя лента</a>
                </div>
                <div>
                    <a href="/tweezer/settings">Настройки</a>
                </div>
                <div>
                    <a href="/tweezer/logout">Выход</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="mid__block block_70">
            {% block content %}
            {% endblock %}
        </div>
        <div class="mid__block tag">
            <p>Топ 5 #тэг за 24 часа:</p>
            <div class="hashtags">
                <ol>
                    {% for key, value in max_count_hashtag %}
                    <li><a href="/tweezer/{{key}}">#{{key}}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'tweezer_app/js/script.js' %}"></script>
</body>
</html>