{% extends 'tweezer_app/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<body>
<div class="registration">
    <form class="form" method="post">
        {% csrf_token %}
        <div class="center_block">
            <div class="reg_form">
                Заполните поля
            </div>
            <div class="reg_form">
                <input class="input" name='login' placeholder="Введите логин">
            </div>
            <div class="reg_form">
                <input class="input" name="email" placeholder="Введите Email">
            </div>
            <div class="reg_form">
                <input class="input" name="password" placeholder="Введите пароль">
            </div>
            <div class="reg_form">
                <input class="input" name="password2" placeholder="Повторите пароль">
            </div>
            <div class="button_reg">
                <button type="submit">Регистрация</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}