{% extends 'tweezer_app/base.html' %}
{% block title %} Tweezer {% endblock %}
{% block content %}
{% if request.session.auth %}
Вы уже авторизованы
{% else %}
<div>
    <div class="auth">
        Авторизация
    </div>
    <form class="form" method="post">
        {% csrf_token %}
        <div class="reg_form">
            <input class="input" name="login" placeholder="Введите логин">
        </div>
        <div class="reg_form">
            <input class="input" type="password" name="password" placeholder="Введите пароль">
        </div>
        <br>
        <div class="reg_form">
            <button type="submit">Вход</button>
        </div>
    </form>
    <div class="reg_form">
        Ещё не зарегистрировались?
    </div>
    <div class="reg_form">
        <a href="/tweezer/registration">Регистрация</a>
    </div>
    {% if is_error %}
    <div class="error"> Введены неверные данные</div>
    {% endif %}
</div>
{% endif %}
{% endblock %}