{% extends 'tweezer_app/base.html' %}
{% block title %}Настройки{% endblock %}
{% block content %}
<div class="settings_block">
    <div class="form_block">
        Изображение профиля
        {% if file_url %}
        <div>
            <img src="{{ file_url }}" class="user_logo">
        </div>
        {% else %}
        <div>
            <img src="{{ user.img }}" class="user_logo">
        </div>
        {% endif %}
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="buttons">
                <span id="upload_file_blog_text"></span>
                <label class="button_form_attach" id="button_form_attach" for="upload_file_blog">📎</label>
                <label class="button_form_delete_attach hidden" id="button_form_delete_attach">⛌</label>
                <input type="file" id="upload_file_blog" name="upload" accept=".png, .jpg, .jpeg, .gif">
                <button class="button_form_push" type="submit">Отправить</button>
            </div>
        </form>
    </div>
    <form class="form" method="post">
        {% csrf_token %}
        Смена пароля
        <div>
            <input class="input" name="old_pass" placeholder="Введите старый пароль">
        </div>
        <div>
            <input class="input" name="new_pass" placeholder="Введите новый пароль">
        </div>
        <div>
            <input class="input" name="verification_new_pass" placeholder="Повторите новый пароль">
        </div>
        <div>
            <button class="button_form_push" type="submit">Сохранить изменения</button>
        </div>
        {% if is_error == 1 %}
        <div class="error"> Пароль успешно изменён</div>
        {% elif is_error == 2 %}
        <div class="error"> Новые пароли не совпадают</div>
        {% elif is_error == 3 %}
        <div class="error"> Введён неверный пароль</div>
        {% endif %}
    </form>
</div>
{% endblock %}