<div class="user_post_card">
    <div class="upc_info">
        <div class="user_card_logo">
            <a href="/tweezer/user/{{post.user.pk}}"><img class="user_logo" src="{{ post.user.img }}"></a>
        </div>
        <div class="user_card_name">
            @<a href="/tweezer/user/{{post.user.pk}}">{{ post.user.user }}</a>
        </div>
        <div class="subscribe_link">
            {% if request.session.auth %}
            {%if post.user.is_follow_by_current_user %}
                <a href="?user_to_subscribe={{post.user.pk}}"><img class="subscribe_logo"
                                                                   src="/static/tweezer_app/img/active_subs.png"></a>
                {% elif post.user.pk == user.pk%}
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="delete_blog_id" value="{{post.pk}}">
                    <button class="button_delete_blog">⛌</button>
                </form>
                {% else %}
                <a href="?user_to_subscribe={{post.user.pk}}"><img class="subscribe_logo"
                                                                   src="/static/tweezer_app/img/subs.png"></a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if post.img %}
    <div>
        <img src="{{ post.img }}" class="ups_img">
    </div>
    {% endif %}
    {% if post.text %}
    <div class="upc_posts">
        {{ post.text|safe }}
    </div>
    {% endif %}
    <div class="foot_block">
        <div class="upc_like">
            {% if post.user.id != user.id and request.session.auth %}
            {% if post.liked_by_current_user %}
            <a href="?like={{post.pk}}"><img class="like_img" src="/static/tweezer_app/img/like.png"></a>
            {% else %}
            <a href="?like={{post.pk}}"><img class="like_img" src="/static/tweezer_app/img/not_like.png"></a>
            {% endif %}
            {% else %}
            <img class="like_img" src="/static/tweezer_app/img/user_like.png">
            {% endif %}
        </div>
        <div class="upc_count_likes">
            {% if post.liked_users.all|length > 0 %}
            {{ post.liked_users.all|length }}
            {% endif %}
        </div>
        <div class="upc_time">
            {{ post.date }}
        </div>
    </div>
</div>