<div class="user_info_card">
    {% if not post %}
    <div>
        <a href="/tweezer/user/{{user.id}}"><img class="user_logo" src="{{ user.img }}"></a>
    </div>
    <div class="user_card_name">
        <div>
            @<a href="/tweezer/user/{{user.id}}">{{ user.user }}</a>
        </div>
        <div class="subs">
            <div class="followers">
                {% if user.followers.all|length > 0 %}
                Подписчики <a href="/tweezer/user/{{user.id}}/followers">{{user.followers.all|length}}</a>
                {% else %}
                Нет подписчиков
                {% endif %}
            </div>
            <div class="following">
                {% if user.following.all|length > 0 %}
                Подписки <a href="/tweezer/user/{{user.id}}/following">{{user.following.all|length}}</a>
                {% else %}
                Нет подписок
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <div>
        <a href="/tweezer/user/{{post.user.pk}}"><img class="user_logo" src="{{ post.user.img }}"></a>
    </div>
    <div class="user_card_name">
        <div>
            @<a href="/tweezer/user/{{post.user.pk}}">{{ post.user.user }}</a>
        </div>
        <div class="subs">
            <div class="followers">
                {% if post.user.followers.all|length > 0 %}
                Подписчики <a href="/tweezer/user/{{post.user.pk}}/followers">{{post.user.followers.all|length}}</a>
                {% else %}
                Нет подписчиков
                {% endif %}
            </div>
            <div class="following">
                {% if post.user.following.all|length > 0 %}
                Подписки <a href="/tweezer/user/{{post.user.pk}}/following">{{post.user.following.all|length}}</a>
                {% else %}
                Нет подписок
                {% endif %}
            </div>
        </div>
    </div>
    <div class="subscribe_link">
        {% if post.user.is_follow_by_current_user%}
        <a href="?user_to_subscribe={{post.user.pk}}"><img class="subscribe_logo"
                                                           src="/static/tweezer_app/img/active_subs.png"></a>
        {% elif post.user.pk == user.pk%}
        {% else %}
        <a href="?user_to_subscribe={{post.user.pk}}"><img class="subscribe_logo"
                                                           src="/static/tweezer_app/img/subs.png"></a>
        {% endif %}
    </div>
    {% endif %}
</div>