{% extends 'tweezer_app/base.html' %}

{% block title %} {{user.user}} {% endblock %}


{% block content %}
{% if not blog %}
{% include "tweezer_app/user_info_card.html" %}
<div class="form_block">
    <form class="form" method="post">
        {% csrf_token %}
        <textarea class="text_area" placeholder="Напишите ваш текст" rows="10" cols="38" name="text_blog"></textarea>
        <div class="buttons">
            <span id="upload_file_blog_text"></span>
            <label class="button_form_attach" id="button_form_attach" for="upload_file_blog">📎</label>
            <label class="button_form_delete_attach hidden" id="button_form_delete_attach" >X</label>
            <input type="file" id="upload_file_blog" name="upload" accept=".png, .jpg, .jpeg, .gif">
            <button class="button_form_push">Отправить</button>
        </div>
    </form>
</div>
{% else %}
{% for post in blog %}
{% if forloop.first %}
{% include "tweezer_app/user_info_card.html" %}
<div class="form_block">
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea class="text_area" placeholder="Напишите ваш текст" name="text_blog"></textarea>
        <div class="buttons">
            <span id="upload_file_blog_text"></span>
            <label class="button_form_attach" id="button_form_attach" for="upload_file_blog">📎</label>
            <label class="button_form_delete_attach hidden" id="button_form_delete_attach" >⛌</label>
            <input type="file" id="upload_file_blog" name="upload" accept=".png, .jpg, .jpeg, .gif">
            <button class="button_form_push" type="submit">Отправить</button>
        </div>
    </form>
</div>
{% endif %}
{% include "tweezer_app/user_post_card.html" %}
{% endfor %}
{% endif %}
{% endblock %}