.hidden{
    display: none !important;
}
.block{

}

.head_block{

    display:flex;
    background-color: rgb(255, 224, 251);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgb(20, 234, 220, 0.25);
    margin: 40px;

}

.input{
    border-radius: 5px;
    border:solid 7px rgb(20, 234, 220, 0.25);
    box-shadow: 2px 2px 2px 2px rgb(20, 234, 220, 0.25);
    margin: 10px;
	outline: none;

}



a{
    text-decoration: none;
    color: rgb(20, 234, 220);
    text-shadow: 1px 1px 2px black;

}

.logo_text_head{
    flex-basis:32%;
    font-size: 30px;
    bottom: 0;
    color: rgb(20, 234, 220);
    text-shadow: 1px 1px 2px black;

}
.logo_img{
    flex-basis:3%;

}

.logo{
    width: 45px;
}

.user_head{
    flex-basis:65%;
    text-align: right;
    font-size: 20px;
}

.user_logo{
    height: 100px;
    width: 100px;
    border-radius: 999px;
    margin: 10px;
}




.user_name{
    font-size: 25px;
}
.user_info_card{
    display:flex;
    border-radius: 10px;
    background-color: rgb(20, 234, 220, 0.25);
    height: 120px;
    margin: 10px;
}

.user_card_logo{
    flex-basis:10%;
}

.user_card_name{
    flex-basis:75%;
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
}

.subscribe_link{
    height: 20px;
    padding: 2px;
    margin: 85px 20px 0px 0px;
}


.upc_info .subscribe_link{
    flex-basis:15%;
    margin: 20px 20px 0px 0px;
}

.user_post_card{
    border-radius: 10px;
    background-color: rgb(20, 234, 220, 0.25);
    margin: 10px;

}

.upc_info{
    display:flex;
}
.upc_posts{
    padding: 10px;
    overflow-wrap: break-word;
}

.foot_block{
    display:flex;

}

.user_post_card .user_logo{
    height: 50px;
    width: 50px;
    border-radius: 999px;
    margin: 10px;
}


.user_post_card .upc_like{
    flex-basis:10%;
    padding: 10px 0px 5px 20px;
}

.user_post_card .upc_count_likes{
    flex-basis:10%;
    text-align: left;
    padding: 10px 0px 5px 5px;
}

.user_post_card .upc_time{
    flex-basis:80%;
    text-align: right;
    padding: 15px;
}

.like_img{
    width: 20px;
    margin: 0px 0px 0px 80px;
}


.user_post_card .upc_posts{
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    text-align: left;
}

.ups_img{
    max-width: 95%;
    max-height: 300px;
}

.user_posts{
    margin-top: 50px;
    margin-bottom: 25px;
}

.mid__row{
    display:flex;
}

.mid__block{
    background-color: rgb(255, 224, 251);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgb(20, 234, 220, 0.25);
    margin: 40px;
}

.block_70{
    flex-basis:50%;
    max-width: 50%;
    text-align: center;
}
.nav{
    flex-basis:15%;
    height: 100px;
}

.tag{
    flex-basis:15%;
    height: 200px;
    font-size: 15px;
}

.button_reg{
    text-align: center;
    margin: 10px;
}
.reg_form{
    text-align: center;
    margin: 10px;
}

.form_block{
    background-color: rgb(20, 234, 220, 0.25);
    margin: 10px auto;
    width: 50%;
    border-radius: 10px;
    color: rgb(20, 234, 220);
    text-shadow: 1px 1px 2px black;

}

.settings_block{
    color: rgb(20, 234, 220);
    text-shadow: 1px 1px 2px black;
}

.text_area {
	resize: none;
	outline: none;
	width: 95%;
	height: 100px;
	margin-top: 5px;
    border-radius: 5px;
    border:inset 2px rgb(255, 224, 251);
}


.buttons{
    padding: 5px;
    text-align: right;
}

.button_form_push {
    margin: 5px;
    background-color: rgb(255, 224, 251);
    border-radius: 5px;
    border: solid 2px rgb(255, 224, 251);
    transition-duration: 1s;
    padding: 10px 16px;
    font-size: 14px;
}

.button_form_push:hover {
    border: solid 2px black;
}


.button_form_attach{
    margin: 5px;
    background-color: rgb(255, 224, 251);
    border-radius: 5px;
    border: solid 2px rgb(255, 224, 251);
    transition-duration: 1s;
    padding: 10px 16px;
    font-size: 14px;
}

.button_form_attach:hover {
    border: solid 2px black;
}

#upload_file_blog{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

#upload_file_blog_text{
    display: inline-block;
    overflow: hidden;
    max-width: 40%;
}

.button_form_delete_attach{
    margin: 5px;
    background-color: rgb(255, 224, 251);
    border-radius: 5px;
    border: solid 2px rgb(255, 224, 251);
    transition-duration: 1s;
    padding: 10px 16px;
    font-size: 14px;
}


.button_form_delete_attach:hover {
    border: solid 2px black;
}



.subscribe_logo{
    width: 20px;
}

.subs{
    display:flex;
    font-size: 13px;

}
.subs .following{
    margin: 5px;
}

.subs .followers{
    margin: 5px;
}

.button_delete_blog{
    margin: 5px;
    background-color:rgb(20, 234, 220, 0);
    border-radius: 5px;
    border: solid 2px rgb(20, 234, 220, 0);
    transition-duration: 1s;
    padding: 5px 10px;
    font-size: 14px;
}

.button_delete_blog:hover{
    border: solid 2px black;
}

ol{
    padding: 20px;
}
